/local Tests/
/templates/**
!/templates/**/
!/templates/validated/*
dsp_logon_data.json
/dsp_files/**
!/dsp_files/**/
!/dsp_files/**/.gitkeep
/dsp_config/dsp_logon_data.json
__pycache__/
*.pyc
datasphere\datasphere-tools\__pycache__\dsp_utils.cpython-313.pyc